{% extends 'base.html' %}

{% block title %}About Us - Best Cars Dealership{% endblock %}

{% block content %}
<!-- Add specific content for the About Us page below -->

<div class="container mt-5">
    <div class="rounded p-3 text-center bg-cream">
        <h1 class="display-4 mb-4 text-center rounded-pill bg-white">About Us</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-4">Welcome to Best Cars Dealership</h1>
                    <p class="lead">
                        Home to the best cars in INDIA. We sell domestic and imported cars at reasonable prices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

