
{% extends 'base.html' %}

{% block title %}About Us - Best Cars Dealership{% endblock %}

{% block content %}
<!-- Add specific content for the About Us page below -->

<div class="container mt-5">
    <div class="rounded p-3 text-center bg-light-blue">
        <h1 class="display-4 mb-4 text-center rounded-pill bg-white">Contact Us</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-4">Welcome to Best Cars Dealership</h1>
                    <p class="lead">
                        Address: 123 Main Street, City, Country-INDIA<br>
                        Telephone: +1 (123) 456-7890
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

